<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Linking to the external CSS file -->
    <link rel="stylesheet" href="styles/chest.css">

    <style>

    </style>

</head>

<body>
    <!-- Nav Bar Section -->
    <%- include('partials/header') %>
        <div class="About">
            <div class="leftSection" style="font-weight: bold; background-color: #181818;">
                <h1>
                    TRICEP AND BICEP
                </h1>

                <div class="into">
                    <h3>
                        "Hey there! Ready to amp up those arms? We've got just the thing for you on our website! Let's
                        talk about those triceps, biceps, and forearms - they're the unsung heroes of arm strength and
                        lookin' good. We've put together a killer workout routine designed to give those muscles the
                        love they deserve. So if you're ready to level up your arm game, you're in the right place!"
                    </h3>
                </div>


            </div>
            <div class="rightSection">
                <img src="../Images/arm.gif" alt="David laid">

            </div>
        </div>


        <div class="secondSection">
            <h1>Routine</h1>
            <hr>
            <h3>NOTE: <span style="color:rgb(152, 148, 148)">Do some dynamic stretching/warm ups and start the
                    routine.</span></h3>
        </div>
        <div class="routine">
            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/tri.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">1. Tricep Pushdown</h3>
                    <p>
                        Tricep Excercise. 1 warm up sets (rep 12 -20) . 3 working sets (rep 10 to 12)
                    </p>
                </div>
            </a>

            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/ccurl.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">2. Cable Curl </h3>
                    <p>
                        Bicep Excercise. 3 working sets (rep 12 to 15)
                    </p>
                </div>
            </a>


            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/te.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">3. Over Head Trciep Extension </h3>
                    <p>
                        Tricep Excercise. 4 working sets (rep 12 to 15) </p>
                </div>
            </a>

            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/pre.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">4. Preacher Curl </h3>
                    <p>
                        Bicep Excercise: 3 working sets (rep 12 to 15) </p>
                </div>
            </a>

            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/sk.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">5. Skull Cruser</h3>
                    <p>
                        Tricep Excercise. 3 working sets (rep 10 to 15) </p>
                </div>
            </a>

            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/ham.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">6. Hammer Curl</h3>
                    <p>
                        Bicep and Forearm Excercise. 3 working sets (rep 15 to 18) </p>
                </div>
            </a>

            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/rever.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">7. Wrist Curls (Palms Up)</h3>
                    <p>
                        Forearms Excercise. 3 working sets (rep 12 to 15) </p>
                </div>
            </a>

            <a href="/arm" class="subDiv">
                <div class="gif">
                    <img src="../Images/fc.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">7. Reverse Wrist Curls</h3>
                    <p>
                        Forearms Excercise. 3 working sets (rep 12 to 15) </p>
                </div>
            </a>


        </div>






        <!-- <button class="view-training" onclick="location.href='#'">VIEW MORE</button> -->
        </div>


        <!-- Include footer -->
        <%- include('partials/footer') %>



            <!-- <script src="../JavaScript/index.js"></script> -->
</body>

</html>