<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Linking to the external CSS file -->
    <link rel="stylesheet" href="styles/chest.css">

    <style>

    </style>

</head>

<body>
    <!-- Nav Bar Section -->
    <%- include('partials/header') %>
        <div class="About">
            <div class="leftSection" style="font-weight: bold; background-color: #181818;">
                <h1>
                    CHEST AND SIDE DELTS
                </h1>

                <div class="into">
                    <h3>
                        Welcome to our website! Get ready to sculpt your chest and shoulders with our targeted workout
                        routine. Whether you're a beginner or a seasoned fitness enthusiast, our carefully curated
                        exercises will help you build strength, define muscles, and enhance your overall upper body
                        aesthetics. Let's get started on your journey to a stronger, more confident you!
                    </h3>
                </div>


            </div>
            <div class="rightSection">
                <img src="../Images/chest-muscle.gif" alt="David laid">

            </div>
        </div>


        <div class="secondSection">
            <h1>Routine</h1>
            <hr>
            <h3>NOTE: <span style="color:rgb(152, 148, 148)">Do some dynamic stretching/warm ups and start the routine.</span></h3>
        </div>
        <div class="routine">
            <a href="/cs" class="subDiv">
                <div class="gif">
                    <img src="../Images/1incline-barbell-press.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">1. Incline Bench Press</h3>
                    <p>
                        Upper Chest Exercise.  2 warm up sets (rep 12 -20) . 3 working sets (rep 8 to 10)  
                    </p>
                </div>
            </a>

            <a href="/cs" class="subDiv">
                <div class="gif">
                    <img src="../Images/incline-chest-fly.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">2. Incline Chest Fly ( Dumbell/ Cabel/ Machine ) </h3>
                    <p>
                        Upper Chest Exercise. 3 working sets (rep 10 to 15)  
                    </p>
                </div>
            </a>

            <a href="/cs" class="subDiv">
                <div class="gif">
                    <img src="../Images/flat.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">3. Flat Press ( Barbell/ Dumbell/ Machine ) </h3>
                    <p>
                        Chest Exercise.  3 working sets (rep 8 to 10)                      </p>
                </div>
            </a>

            <a href="/cs" class="subDiv">
                <div class="gif">
                    <img src="../Images/high-cable-fly.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">4. Low to High Cable Fly</h3> 
                    <p>
                        Lower Chest Exercise. 3 working sets (rep 10 to 15)  </p>
                </div>
            </a>

            <a href="/cs" class="subDiv">
                <div class="gif">
                    <img src="../Images/bron.gif" alt="Chest GIF">
                </div>
                <div>
                    <h3 style="margin-bottom: 10px;">5. Lateral Rise ( Dumblells/ Cabe/ Machine )</h3> 
                    <p>
                        Side Delts Dhoulder Exercise. 4 working sets (rep 10 to 15)  </p>
                </div>
            </a>


           
           
        </div>
        





        <!-- <button class="view-training" onclick="location.href='#'">VIEW MORE</button> -->
        </div>


        <!-- Include footer -->
        <%- include('partials/footer') %>

            <!-- JS FOR NAV Bar -->
            <script>
                // Get the filename of the current page
                var currentPage = location.pathname.split("/").pop();

                // Function to add 'active' class to the appropriate navigation link
                function setActiveNav() {
                    var navLinks = document.querySelectorAll("nav ul li a");
                    navLinks.forEach(function (link) {
                        if (link.getAttribute("href").endsWith(currentPage)) {
                            link.classList.add("active");
                        }
                    });
                }

                // Call the function to set the active navigation link
                setActiveNav();

            </script>


            <!-- <script src="../JavaScript/index.js"></script> -->
</body>

</html>